# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# Testing/cache
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db

# Test
test/